*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

* {
    &::-moz-selection {
        background-color: #55c57a;
        color: #fff;
    }
    &::selection {
        background-color: #55c57a;
        color: #fff;
    }
}

html {
    font-size: 62.5%;

    @include respond(big-desktop) {
        font-size: 85%;
    }

    @include respond(tablet-land) {
        font-size: 50%; // 1rem=8px , 8/16*100=50%
    }

    @include respond(tablet-port) {
        font-size: 50%;
    }
}

body {
    padding: 3rem;
    box-sizing: border-box;

    @include respond(tablet-port) {
        padding: 0;
    }
}
