.u-center {text-align: center;}

.u-margin-bottom-small{margin-bottom: 2rem;}
.u-margin-bottom-medium{margin-bottom: 4rem;}
.u-margin-bottom-big{margin-bottom: 8rem;}
.u-margin-bottom-Vbig{margin-bottom: 20rem;}
.u-margin-bottom-Xbig{margin-bottom: 25rem;}

.u-margin-top-small{margin-top: 2rem;}
.u-margin-top-medium{margin-top: 4rem;}
.u-margin-top-big{margin-top: 10rem;}
.u-margin-top-Vbig{margin-top: 20rem;}
.u-margin-top-Xbig{margin-top: 25rem;}
